# Python
__pycache__/
*.py[cod]
*.egg-info/

# Build
build/
dist/

# Jupyter
.ipynb_checkpoints/

# Conda
.env
.venv

# macOS
.DS_Store

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/